/* hero section styles */

.hero {
    min-height: 100vh;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .hero-caption {
    padding: 24px;
}

.hero .hero-caption h2 {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: bold;
    color: var(--color-dark);
}

.hero .hero-caption p {
    margin-bottom: 32px;
    font-size: 20px;
    color: var(--color-gray);
    line-height: 1.625;
}

.hero .hero-caption button {
    margin-top: 10px;
    display: inline-block;
    margin-right: 16px;
    font-size: 18px;
    padding: 16px 32px;
    color: var(--color-gray);
    border-radius: 0.5rem;
    border: none;
}

.hero .hero-caption button:first-of-type {
    background-color: var(--color-dark);
    color: white;
}

.hero .hero-img {
    width: 385px;
    height: 385px;
    border-radius: 1rem;
    overflow: hidden;
}


/* media query screens */

/* screen small */
@media (min-width:768px) {
    .hero {
        flex-direction: row;
    }

    .hero div {
        width: 50%;
    }

}

/* screen middle */
@media (min-width:992px) {
    .hero .hero-caption h2 {
        font-size: 60px;
    }
}

/* screen large */
@media (min-width:1024px) {}