/* ================= GLOBAL ================= */

body {
    font-family: var(--font-main);
    background-color: var(--bg-light);
    color: var(--color-dark);
    line-height: 1.6;
}

.container {
    width: min(1200px, 90%);
    margin-inline: auto;
}

section {
    padding-block: var(--space-xl);
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

p{
    color: var(--color-gray);
}

/* Buttons (shared) */
.btn {
    display: inline-block;
    padding: 16px 32px;
    border-radius: var(--radius-sm);
    font-size: 16px;
    border: none;
    transition: 0.3s ease;
}

.btn.primary {
    background-color: var(--color-dark);
    color: #fff;
}

.btn.secondary {
    background-color: transparent;
    border: 1px solid var(--color-dark);
}